---
import { Icon } from "astro-icon";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import heroImage from "assets/hero-alt.png";
import Sectionhead from "@components/sectionhead.astro";
import Button from "@components/ui/button.astro";
import Contactform from "@components/contactform.astro";
---

<Layout title="404 Not Found">
  <Container>
    <div class="min-h-[calc(100vh-16rem)] flex items-center justify-center">
      <div class="mt-16 text-center">
        <div class="md:order-1 hidden md:block">
          <Picture
            src={heroImage}
            alt="Depressed Artist being yelled at by Spreadsheet"
            widths={[200, 400, 600]}
            sizes="(max-width: 100px) 100vw, 400px"
            loading="eager"
            format="avif"
          />
        </div>
        <h1
          class="text-4xl lg:text-5xl font-bold lg:tracking-tight text-ws-grey-light">
          404
        </h1>
        <p class="text-lg mt-4 text-ws-grey-light">Lol, Lmao. Go back to the home page</p>
      </div>
    </div>
  </Container>
</Layout>
