---
import Button from "./ui/button.astro";
import { Icon } from "astro-icon";
---

<form
  action="https://formsubmit.co/38e7a2840de2f108e3c334289a548583"
  method="POST"
  enctype="multipart/form-data">
  <div class="mb-5">
    <input type="text" name="_honey" style="display:none" />
    <input
      type="text"
      placeholder="Name/Pen Name"
      required
      class="w-full px-4 py-3 border-2 placeholder:text-ws-grey-dark rounded-md outline-none focus:ring-4 border-gray-300 focus:border-gray-600 ring-gray-100"
      name="name"
    />
  </div>
  <div class="mb-5">
    <label for="email_address" class="sr-only">Email Address</label><input
      type="email"
      placeholder="Email Address"
      name="email"
      required
      class="w-full px-4 py-3 border-2 placeholder:text-ws-grey-dark rounded-md outline-none focus:ring-4 border-gray-300 focus:border-gray-600 ring-gray-100"
    />
  </div>
  <div class="mb-3">
    <textarea
      name="message"
      required
      placeholder="Your Message"
      class="w-full px-4 py-3 border-2 placeholder:text-ws-grey-dark rounded-md outline-none h-36 focus:ring-4 border-gray-300 focus:border-gray-600 ring-gray-100"
    ></textarea>
  </div>
  <div class="mb-3 flex justify-center">
    <button
      class="bg-ws-grey hover:bg-ws-grey-light text-ws-black py-2 px-4 rounded inline-flex items-center"
      onclick="document.getElementById('unique1324').click()"
      >Attach File</button
    >

    <input
      id="unique1324"
      type="file"
      name="attachment"
      class="select-none text-ws-grey-light text-center py-1.5"
      accept="image/*"
    />
  </div>
</form>
<Button
  type="submit"
  size="lg"
  class="text-ws-black bg-ws-grey hover:bg-ws-grey-light"
  block>
  Send <Icon style="display: inline-block" size={21} name="mdi:email-send" />
</Button>
<div id="result" class="mt-3 text-center"></div>
