---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Easy Integration",
    description:
      "We show up right on the webtoon dashboard, so no need to add another website to your bookmarks tab",
    icon: "bx:bxs-briefcase",
    accent: "text-ws-green-light",
  },
  {
    title: "Clearly Communicated",
    description:
      "Data is displayed in simple visually accessible formats, No guesswork required",
    icon: "bx:bxs-window-alt",
    accent: "text-ws-blue",
  },
  {
    title: "Track Reader Engagement",
    description:
      "Know what your readers are saying about your webtoon, when they're typically reading and ",
    icon: "bx:bxs-data",
    accent: "text-ws-magenta",
  },
  {
    title: "Long Term Data Tracking",
    description:
      "We keep track of your data over time, so you can see how your webtoon is growing.",
    icon: "bx:bxs-bot",
    accent: "text-ws-yellow-light",
  },
  {
    title: "Data Safe",
    description:
      "We sell none of your comic data to third parties. It's yours and yours alone.",
    icon: "bx:bxs-file-find",
    accent: "text-ws-magenta-light",
  },
  {
    title: "Dedicated Support",
    description:
      "We have multiple social platforms for outreach including discord and twitter, along with an easy to use report system built into the extension",
    icon: "bx:bxs-user",
    accent: "text-ws-blue-light",
  },
];
---

<div class="mt-16 md:mt-0 text-ws-grey-light">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">Features</h2>
  <p class="text-lg mt-4"></p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start text-ws-grey-light">
        <div class="mt-1 text-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class={item.accent} name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class=" mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
