---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/hero.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<!-- Say goodbye to spreadsheets and hello to your future data management tool for
Webtoon creators. -->
<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24 lg:px-10">
  <div class="py-5 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="Astronaut in the air"
      widths={[200, 400, 600]}
      aspectRatio="4:3"
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-white text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Say Goodbye to Spreadsheets...
    </h1>
    <p class="text-lg mt-4 text-ws-grey-light max-w-xl">
      And hello to Creator Studio, your new data analytics tool for Webtoon.<wbr /> We want you to spend less time logging and more time utilising your data to set yourself
      up for success. Kyo, our mascot, will be your guide on this journey.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        href="https://web3templates.com/templates/astroship-starter-website-template-for-astro"
        target="_blank"
        class="flex gap-1 items-center justify-center bg-ws-gray-dark"
        rel="noopener">
        <Icon class="text-ws-grey-light w-5 h-5" name="logos:chrome" />
        Chrome
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://github.com/surjithctly/astroship"
        class="flex gap-1 items-center justify-center pointer-events-none bg-ws-grey-light border-ws-grey-light text-ws-grey"
        target="_blank">
        <Icon class="text-ws-black w-4 h-5" name="fa:firefox" />
        Firefox
      </Link>
    </div>
  </div>
</main>
