---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/hero-1.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<script>
  const colours = [
    "text-ws-green-light",
    "text-ws-magenta-light",
    "text-ws-blue-light",
    "text-ws-yellow-light",
    "text-ws-green",
    "text-ws-magenta",
    "text-ws-blue",
  ];

  const defaultColour = colours[0];

  document.querySelectorAll("span.randomColour").forEach((el) => {
    el.classList.add(defaultColour);
    el.classList.add("font-bold");
  });

  document.querySelectorAll("span.randomColour").forEach((el) => {
    el.addEventListener("mouseover", colourRandomiser);
  });

  function colourRandomiser() {
    const randomColour = colours[Math.floor(Math.random() * colours.length)];
    document.querySelectorAll("span.randomColour").forEach((el) => {
      el.className = "randomColour font-bold " + randomColour;
    });
  }
  //assign random colour to elements in html with id randomColour
</script>

<!-- Say goodbye to spreadsheets and hello to your future data management tool for
Webtoon creators. -->
<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24 lg:px-10">
  <div class="py-5 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="Depressed Artist being yelled at by Spreadsheet"
      widths={[200, 400, 600]}
      aspect={1.22641509434}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <span
      class="select-none text-white text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      <!-- bg-gradient-to-r from-ws-green-light to-emerald-500 text-transparent bg-clip-text -->
      Say Goodbye to <span class="randomColour pr-2">Spreadsheets</span>
    </span>
    <p class="select-none text-lg mt-4 text-ws-grey-light max-w-xl">
      <!-- <span class="randomColour"> </span>-->
      Creator Studio is a <span class="randomColour">browser extension</span> that
      handles all the work for you. Our new data analytics tool for Webtoons allows
      you to set yourself up for success. You'll spend less time logging and more
      time maximising the value of your comics potential to grow.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="https://chrome.google.com/webstore/detail/creator-studio-for-webtoo/aidgimeiehkcimmjkcmipmadpghmmncb/"
        target="_blank"
        class="flex gap-1 items-center justify-center bg-neutral-800 shadow-md"
        rel="noopener">
        <Icon class="text-ws-grey-light w-5 h-5" name="logos:chrome" />
        Chrome
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href=""
        class="flex gap-1 items-center justify-center pointer-events-none bg-ws-grey-light border-ws-grey-light text-ws-grey"
        target="_blank">
        <Icon class="text-ws-black w-4 h-5" name="fa:firefox" />
        Firefox
      </Link>
    </div>
  </div>
</main>
