---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/hero.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<!-- Say goodbye to spreadsheets and hello to your future data management tool for
Webtoon creators. -->
<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24 lg:px-10">
  <div class="py-5 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="Astronaut in the air"
      widths={[200, 400, 600]}
      aspectRatio="4:3"
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <span
      class="text-white text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Say Goodbye to <span class="text-ws-green">Spreadsheets</span>
    </span>
    <p class="text-lg mt-4 text-ws-grey-light max-w-xl">
      Creator Studio handles all the work for you, Our new data analytics tool
      for webtoon allows you to set yourself up for success.<wbr /> You'll spend
      less time logging and more time maximising the value of your comics potential
      to grow.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        href=""
        target="_blank"
        class="flex gap-1 items-center justify-center bg-ws-gray-dark"
        rel="noopener">
        <Icon class="text-ws-grey-light w-5 h-5" name="logos:chrome" />
        Chrome
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href=""
        class="flex gap-1 items-center justify-center pointer-events-none bg-ws-grey-light border-ws-grey-light text-ws-grey"
        target="_blank">
        <Icon class="text-ws-black w-4 h-5" name="fa:firefox" />
        Firefox
      </Link>
    </div>
  </div>
</main>
